<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="knb">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory suffix="_db.inc">modules</directory>
		</include>
	</source>
</phpunit>
